<%- include('header.ejs') %>
<body>
    <form  class="form" id = 'quiz-form-<%- type %>'  action="<%- link %>" enctype="application/x-www-form-urlencoded">
        <h1>Add question</h1>
        <div id="div">
            <label>Question: &nbsp;</label>
            <br/>
            <input class="ques" type="text" id="question" name="question" placeholder="Enter your question" value="<%- question %>">
            <br><br>
            
            <label> &nbsp;Option1:&nbsp;
            </label>
            <input class="ques" type="text" id="option1" name="A" placeholder="Enter your option-1" value="<%- options.A %>" >
            <%if (answer == "A") { %>
                <input type="radio" id="answer" name="answer" value="A" checked>
            <% } else { %>
                <input type="radio" id="answer" name="answer" value="A">
            <% } %>
            <br><br>
            <label> &nbsp; &nbsp;Option2: &nbsp;</label>
            <input class="ques" type="text" id="option2" name="B" placeholder="Enter your option-2" value="<%- options.B %>">
            <%if (answer == "B") { %>
                <input type="radio" id="answer" name="answer" value="B" checked>
            <% } else { %>
                <input type="radio" id="answer" name="answer" value="B">
            <% } %>
            
            <br><br> 
            <label> &nbsp; &nbsp;Option3: &nbsp;</label>
            <input class="ques" type="text" id="option3" name="C" placeholder="Enter your option-3" value="<%- options.C %>">
            <%if (answer == "C") { %>
                <input type="radio" id="answer" name="answer" value="C" checked>
            <% } else { %>
                <input type="radio" id="answer" name="answer" value="C">
            <% } %>

            <br> <br>  
            <label> &nbsp; &nbsp;Option4: &nbsp;</label>
            <input class="ques" type="text" id="option4" name="D" placeholder="Enter your option-4" value="<%- options.D %>">
            <%if (answer == "D") { %>
                <input type="radio" id="answer" name="answer" value="D" checked>
            <% } else { %>
                <input type="radio" id="answer" name="answer" value="D">
            <% } %>            
        </div>
            <input class="btn btn-primary" type="submit" value="submit">
        </div>

    </form>
    <script >
        var link = "<%- link %>" ; 
    </script>
    <script src= "<%- script %>" ></script>

    <style>
        body{
            background-color: rgb(216, 241, 241);
            font-family: Verdana, Geneva, Tahoma, sans-serif; 

        }
        .ques{
            border-radius: 8px;
        }
        #div{
            align-items: center;
        }
    </style>
</body> 

</html>